.container {
    width: 380px;
    height: 560px;
    border-radius: 8px;
    background-image: var(--bg-img-src);
    background-color: var(--bg-color);
    overflow: hidden;
    border: none;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 24px;
    margin: 2.5px;
    font-family: 'SBSansDisplay-Light';
    font-style: normal;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box;

    @media (min-width: 770px) and (max-width: 990px) {
        width: 620px;
        height: 470px;
        background-position: 50% 67%;
    }
}

.card_image {
    @media (min-width: 770px) and (max-width: 990px) {
        width: 70%; // тут у меня что-то не получается пока
    }
}

.card_heading_number {
    font-weight: 200;
    font-size: 50px;
    line-height: 31px;
    color: black;
}

.card_heading {
    font-weight: 300;
    font-size: 26px;
    line-height: 100%;
    
}

.card_subheading {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 7px;
};

.card_button {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    bottom: 10px; 
}