.button {
    background-color: #00B399;
    width: 240px;
    height: 56px;
    border-radius: 30px;
    border: none;
    color: white;
    cursor: pointer;
    
}

.button:hover {
    background-color: #00907a;
    transition: 1s;
}