.text_content {
    font-size: 14px;
    line-height: 1.55;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    word-wrap: break-word;
}

.text_content_active {
    max-height: var(--text-height);
    opacity: 1;
}

.text {
    padding-bottom: 20px;
    padding-right: 20px;
}