@font-face {
    font-family: "SBSansDisplay-Light";
    src: url("./fonts/SBSansDisplay-Light.woff") format("woff");
}

@font-face {
    font-family: "SBSansDisplay-Regular";
    src: url("./fonts/SBSansDisplay-Regular.woff") format("woff");
}

@font-face {
    font-family: "SBSansText-Regular";
    src: url("./fonts/SBSansText-Regular.woff2") format("woff2");
}

body {
   background-color: black;
   font-family: "SBSansDisplay-Light";
}

h1 {
    width: 583px;
    font-family: "SBSansDisplay-Light";
    line-height: 100%;
    font-size: 54px;
    color: white;
    font-weight: 100;
        @media (max-width: 770px) {
            font-size: 42px;
    }
}

h2 {
    font-family: "SBSansDisplay-Light";
    line-height: 120%;
    font-size: 16px;
    color: white;
    font-weight: 100;
}

h3 {
    font-family: "SBSansText-Regular";
    font-weight: lighter;
    color: white;
}

a {
    color: #00b399;
    &:hover {
        color: #00b399;
        text-decoration: none;
    }
}

