.wrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  justify-items: start;
  align-items: center;
  height: 100vh;
  padding-top: 50px;
}

.container {
  display: grid;
  justify-items: start;
  color: white;
  margin: 0 20px;
  width: 80%;

  grid-template-areas:
    'title gallery'
    'subtitle gallery'
    'button gallery'
    'icons gallery';

  @media (max-width: 990px) {
    grid-template-areas:
      'title'
      'subtitle'
      'gallery'
      'icons'
      'button';
  }

  @media (max-width: 770px) {
    gap: 20px;
    grid-template-areas:
      'title'
      'subtitle'
      'button'
      'gallery'
      'icons';
  }

  @media (max-width: 480px) {
    margin: 20px 10px;
    grid-template-areas:
      'title'
      'subtitle'
      'button'
      'gallery'
      'icons';
  }
}

.title {
  grid-area: title;
  width: 60%;
  font-family: 'SBSansDisplay-Light';
  line-height: 100%;
  font-size: 54px;
  color: white;
  font-weight: 100;
  margin-bottom: 20px;

  @media (max-width: 770px) {
    font-size: 42px;
  }

  @media (max-width: 480px) {
    font-size: 36px;
  }
  & __colored {
    color: #00b399;
  }
}

.subtitle {
  grid-area: subtitle;
  font-family: 'SBSansDisplay-Light';
  line-height: 120%;
  font-size: 16px;
  color: white;
  font-weight: 100;
  margin-bottom: 20px;

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

.headings {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.button {
  grid-area: button;
}

.icons {
  grid-area: icons;
}

.gallery {
  grid-area: gallery;
  min-width: 350px;
  overflow: visible;
}
