.background {
    width: 320px;
    height: 420px;
    border-radius: 8px;
    border: none;
    background-image: url(../../../public/images/cards/cafe.png);
    position: relative;
    background-size: cover;
    background-position: center;
}

.transparent_block {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 98px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
}

.playlist_image {
    position: absolute;
    width: 80px;
    height: 108px;
    /* background-image: url(../../../public/images/playlist_cards/pop_small.png); */
    background-size: cover;
    background-position: center;
    bottom: 24px;
    right: 21px;
    border: 0cap;
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    box-sizing: border-box;
    bottom: 14px;
    left: 33px;
    color: white;
}

.text_container_heading_2 {
    margin: 0;
    font-size: 20px;
}

.text_container_heading_3 {
    margin: 0;
    font-size: 16px;
}