.title { 
    font-family: "SBSansDisplay-Light";
    line-height: 100%;
    font-size: 54px;
    color: white;
    font-weight: 100;
        @media (max-width: 770px) {
            font-size: 42px;
    }
}

.subtitle { 
    font-family: "SBSansDisplay-Light";
    line-height: 120%;
    font-size: 16px;
    color: white;
    font-weight: 100;
}