.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  gap: 10px;
}

.tariffs_cards_wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  @media (max-width: 990px) {
    flex-direction: column;
  }
}

.heading {
  color: white;
}
