.player_container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}

.player_info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.player_navigation {
  display: flex;
  flex: row;
  gap: 5px;
}

.title {
  color: white;
}

.time {
  color: white;
  display: inline-block;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.btn_play_pause {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10px;
  min-height: 10px;
  color: white;
  &:hover {
    color: gray;
  }
}

.btn_navigate {
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 10px;
  min-height: 10px;
  color: white;
  &:hover {
    color: gray;
  }
}
.controls_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.volume_control {
  position: relative;
  display: flex;
  align-items: center;
  &:hover {
    .volume_slider {
      opacity: 1;
    }
  }
}

.icon_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.volume_slider {
  accent-color: #00b399;
  position: absolute;
  left: -150%;
  top: -280%;
  transform: translateY(-50%) rotate(-90deg);
  outline: none;
  margin: 10px 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 100px;
  height: 8px;
}
